In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from vacay_config import gkey

In [2]:
cities_df = pd.read_csv("../WeatherPy/File Output/cities.csv")
cities_df.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,lubumbashi,-11.66,27.48,83.534,22.0,71.0,1.18,CD,1.598280e+09
1,zhigansk,66.77,123.37,41.108,70.0,9.0,1.93,RU,1.598280e+09
2,toliary,66.77,123.37,NaN,NaN,NaN,NaN,NaN,NaN
3,busselton,-33.65,115.33,51.998,69.0,2.0,3.40,AU,1.598280e+09
4,provideniya,64.38,-173.30,48.074,94.0,100.0,1.37,RU,1.598280e+09

In [3]:
fig = gmaps.figure()

In [4]:
locations = cities_df[["Lat","Lon"]]
humidity = cities_df["Humidity"]

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False,
                             max_intensity = 100, point_radius=5)

In [5]:
fig.add_layer(heat_layer)

In [6]:
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
ideal_cities_df = cities_df.loc[(cities_df["Max Temp"]<80) & (cities_df["Max Temp"]>70) & (cities_df["Wind Speed"]<10)
                                & (cities_df["Cloudiness"]==0), :]
ideal_cities_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
12,rikitea,-23.12,-134.97,71.96,84.0,0.0,8.79,PF,1.598280e+09