In [3]:
# Dependencies and Setups
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

gkey= "AIzaSyBBMxIGCP96Q4F6_Yt7O1xeXRVulwgYbk4"
# Import API key
gmaps.configure(api_key=gkey)

In [4]:
#Create DataFrame from WeatherPy Output File (CSV)

cities_df = pd.read_csv("../WeatherPy/File Output/cities.csv")
cities_df.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,san rafael del sur,11.85,-86.44,80.600,78.0,75.0,4.10,NI,08-26-2020
1,hilo,19.73,-155.09,82.400,69.0,75.0,2.60,US,08-26-2020
2,bredasdorp,-34.53,20.04,51.422,82.0,1.0,4.84,ZA,08-26-2020
3,puerto del rosario,28.50,-13.86,78.800,83.0,85.0,1.00,ES,08-26-2020
4,yumen,40.28,97.20,59.108,33.0,43.0,6.20,CN,08-26-2020

In [5]:
#Create gmaps figure

fig = gmaps.figure()

In [6]:
#Create heatmap layer

locations = cities_df[["Lat","Lon"]]
humidity = cities_df["Humidity"]

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False,
                             max_intensity = 100, point_radius=5)

In [7]:
#Add heatmap layer

fig.add_layer(heat_layer)

In [8]:
#Display gmaps figure

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Filter cities with ideal temp, wind, and cloud conditions & create new DataFrame

ideal_cities = cities_df.loc[(cities_df["Max Temp"]<80) & (cities_df["Max Temp"]>70) & (cities_df["Wind Speed"]<10)
                                & (cities_df["Humidity"]<40) & (cities_df["Cloudiness"]<70), :]
ideal_cities_df = pd.DataFrame(ideal_cities)
ideal_cities_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
11,bethel,41.37,-73.41,78.008,33.0,1.0,4.10,US,08-26-2020
64,albany,42.60,-73.97,73.994,34.0,66.0,2.68,US,08-26-2020
99,palmer,42.16,-72.33,75.992,31.0,1.0,6.70,US,08-26-2020
102,karratha,-20.74,116.85,76.064,29.0,0.0,2.77,AU,08-26-2020
117,baker city,44.77,-117.83,78.998,34.0,1.0,1.72,US,08-26-2020
402,gazanjyk,39.24,55.52,74.588,24.0,0.0,5.01,TM,08-26-2020
549,makat,47.65,53.35,78.026,26.0,0.0,3.40,KZ,08-26-2020
608,beyneu,45.32,55.20,74.210,25.0,0.0,0.81,KZ,08-26-2020

In [10]:
#Add "Hotel Name" column

ideal_cities_df["Hotel Name"] = ""
ideal_cities_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
11,bethel,41.37,-73.41,78.008,33.0,1.0,4.10,US,08-26-2020,
64,albany,42.60,-73.97,73.994,34.0,66.0,2.68,US,08-26-2020,
99,palmer,42.16,-72.33,75.992,31.0,1.0,6.70,US,08-26-2020,
102,karratha,-20.74,116.85,76.064,29.0,0.0,2.77,AU,08-26-2020,
117,baker city,44.77,-117.83,78.998,34.0,1.0,1.72,US,08-26-2020,
402,gazanjyk,39.24,55.52,74.588,24.0,0.0,5.01,TM,08-26-2020,
549,makat,47.65,53.35,78.026,26.0,0.0,3.40,KZ,08-26-2020,
608,beyneu,45.32,55.20,74.210,25.0,0.0,0.81,KZ,08-26-2020,

In [ ]:
#Question: Ask about how iterrows works

for index, row in ideal_cities_df.iterrows(): 
    print(row["City"])

In [22]:
#Use Google Places API to find hotels near all ideal vacation spots

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotel_list = []
hotel_dict = {}

for index,row in ideal_cities_df.iterrows(): 
    try:
        lat = row["Lat"]
        long = row["Lon"]
        location = f"{lat},{long}"

        params = {
            "location": location, 
            "radius": 5000,
            "type": "hotel",
            "key": gkey}

        response = requests.get(base_url, params=params).json()

        name = response["results"][0]["name"]
   
    except:
        print("No hotel information available for this city")
        name = np.NaN
    
    ideal_cities_df.loc[index,"Hotel Name"] = name

In [28]:
# Display ideal cities DataFrame with Hotel Names added

ideal_cities_df = ideal_cities_df.dropna(how="any")
ideal_cities_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
11,bethel,41.37,-73.41,78.008,33.0,1.0,4.10,US,08-26-2020,Danbury
64,albany,42.60,-73.97,73.994,34.0,66.0,2.68,US,08-26-2020,Voorheesville
99,palmer,42.16,-72.33,75.992,31.0,1.0,6.70,US,08-26-2020,Palmer
102,karratha,-20.74,116.85,76.064,29.0,0.0,2.77,AU,08-26-2020,Karratha
117,baker city,44.77,-117.83,78.998,34.0,1.0,1.72,US,08-26-2020,Baker City
402,gazanjyk,39.24,55.52,74.588,24.0,0.0,5.01,TM,08-26-2020,Bereket
549,makat,47.65,53.35,78.026,26.0,0.0,3.40,KZ,08-26-2020,Makat
608,beyneu,45.32,55.20,74.210,25.0,0.0,0.81,KZ,08-26-2020,Beyneu

In [24]:
#Create marker layer with info box

locations = ideal_cities_df[["Lat","Lon"]]

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in ideal_cities_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

In [25]:
#Add markery layer to gmaps figure

fig.add_layer(marker_layer)

In [26]:
#Question: Why do multiple maps show on same window?
#Display gmaps figure 

fig

Figure(layout=FigureLayout(height='420px'))